<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>QR Code Scanner in React-Native-WebView</title>
</head>
<body>
    <div class="scanner"></div>
    <div class="controls">
        <button onclick="startScan();">Scan From Camera</button>
        <input type="file" onchange="readFromImage();" name="file" accept=".jpg,.jpeg,.png,.bmp" id="file" style="display:none">
        <button onclick="document.getElementById('file').click()">Read From Image</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/dynamsoft-camera-enhancer@3.3.4/dist/dce.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@9.6.20/dist/dbr.js"></script>
    <script>
        let reader, enhancer, interval, processing = false;

        async function init() {
            Dynamsoft.DBR.BarcodeScanner.license = 'YOUR_LICENSE_KEY';
            reader = await Dynamsoft.DBR.BarcodeScanner.createInstance();
            enhancer = await Dynamsoft.DCE.CameraEnhancer.createInstance();
            await enhancer.setUIElement(Dynamsoft.DCE.CameraEnhancer.defaultUIElementURL);
            let container = document.getElementsByClassName("scanner")[0];
            container.appendChild(enhancer.getUIElement());

            enhancer.on("played", () => {
                console.log("camera started");
                startProcessingLoop();
            });

            enhancer.on("cameraClose", () => {
                stopScan();
            });

            if (getUrlParam("startScan") === "true") {
                startScan();
            }
        }

        function startScan() {
            if (!enhancer || !reader) {
                alert("Please wait for the initialization of Dynamsoft Barcode Reader");
                return;
            }
            document.getElementsByClassName("scanner")[0].classList.add("active");
            enhancer.open(true);
        }

        function stopScan() {
            stopProcessingLoop();
            enhancer.close(true);
            document.getElementsByClassName("scanner")[0].classList.remove("active");
        }

        function startProcessingLoop() {
            stopProcessingLoop();
            interval = setInterval(captureAndDecode, 100);
        }

        function stopProcessingLoop() {
            if (interval) {
                clearInterval(interval);
                interval = undefined;
            }
            processing = false;
        }

        async function captureAndDecode() {
            if (!enhancer || !reader || enhancer.isOpen() === false || processing) {
                return;
            }
            processing = true;
            let frame = enhancer.getFrame();
            if (frame) {
                let results = await reader.decode(frame);
                console.log(results);
                processing = false;
                if (results.length > 0) {
                    stopScan();
                    if (window.ReactNativeWebView) {
                        window.ReactNativeWebView.postMessage(JSON.stringify(results));
                    }
                }
            }
        }

        async function readFromImage() {
            let fileInput = document.getElementById("file");
            if (fileInput.files.length > 0) {
                let file = fileInput.files[0];
                let results = await reader.decode(file);
                console.log(results);
            }
        }

        function getUrlParam(param) {
            const params = new URLSearchParams(window.location.search);
            return params.get(param);
        }

        window.onload = init;
    </script>
</body>
</html>
